html, body, #root {
    margin: 0;
    width: 100%;
    height: 100%;
}

#root {
    background-image: url('../img/hogwarts.jpeg');
    background-size: cover;
    background-position: center;
}

@font-face {
    font-family: 'Harry Potter';
    src: local('Harry Potter'), url('../fonts/harry_potter.ttf') format('truetype');
}

@keyframes little-magical-glow-blue {
    to {
        filter: drop-shadow(0 0 2px #00B5F7) drop-shadow(0 0 4px #0094F7) drop-shadow(0 0 8px #3072E4);
    }
}

@keyframes big-magical-glow-blue {
    from {
        filter: drop-shadow(0 0 2px #00B5F7) drop-shadow(0 0 7px #0094F7) drop-shadow(0 0 20px #3072E4);
    }
    to {
        filter: drop-shadow(0 0 5px #00B5F7) drop-shadow(0 0 10px #0094F7) drop-shadow(0 0 25px #3072E4);
    }
}

@keyframes big-magical-glow-green {
    from {
        filter: drop-shadow(0 0 2px #a3ef8d) drop-shadow(0 0 7px #49ff18) drop-shadow(0 0 20px #38a90a);
    }
    to {
        filter: drop-shadow(0 0 5px #a3ef8d) drop-shadow(0 0 10px #49ff18) drop-shadow(0 0 25px #38a90a);
    }
}

@keyframes magical-glow-beauxbatons {
    from {
        filter: drop-shadow(0 0 1px #00B5F7) drop-shadow(0 0 2px #0094F7) drop-shadow(0 0 3px #3072E4);
    }
    to {
        filter: drop-shadow(0 0 2px #00B5F7) drop-shadow(0 0 4px #0094F7) drop-shadow(0 0 6px #3072E4);
    }
}

@keyframes magical-glow-durmstrang {
    from {
        filter: drop-shadow(0 0 1px #a3ef8d) drop-shadow(0 0 2px #49ff18) drop-shadow(0 0 3px #38a90a);
    }
    to {
        filter: drop-shadow(0 0 2px #a3ef8d) drop-shadow(0 0 4px #49ff18) drop-shadow(0 0 6px #38a90a);
    }
}

@keyframes magical-glow-hogwarts {
    from {
        filter: drop-shadow(0 0 1px #ccb35d) drop-shadow(0 0 2px #d9aa29) drop-shadow(0 0 3px #ffdb00);
    }
    to {
        filter: drop-shadow(0 0 2px #ccb35d) drop-shadow(0 0 4px #d9aa29) drop-shadow(0 0 6px #ffdb00);
    }
}

@keyframes magical-glow-versus {
    to {
        filter: drop-shadow(0 0 2px #e58a53) drop-shadow(0 0 4px #f37c13) drop-shadow(0 0 8px #fb3f18);
    }
}

@keyframes magical-glow-winner {
    from {
        filter: drop-shadow(0 0 1px #fdfaa4) drop-shadow(0 0 3px #ffeb00) drop-shadow(0 0 5px #ffb700) drop-shadow(0 0 6px #ec1819) drop-shadow(0 0 7px #5e262b);
    }
    to {
        filter: drop-shadow(0 0 2px #fdfaa4) drop-shadow(0 0 4px #ffeb00) drop-shadow(0 0 6px #ffb700) drop-shadow(0 0 7px #ec1819) drop-shadow(0 0 8px #5e262b);
    }
}

@keyframes sink-water {
    from {
        background-position: bottom 0 center;
    }
    to {
        background-position: bottom -275px center;
    }
}

@keyframes magical-glow-fail {
    from {
        filter: drop-shadow(0 0 1px #ef8d8d) drop-shadow(0 0 2px #ff1818) drop-shadow(0 0 3px #a90a0a);
    }
    to {
        filter: drop-shadow(0 0 2px #ef8d8d) drop-shadow(0 0 4px #ff1818) drop-shadow(0 0 6px #a90a0a);
    }
}

#webpack-dev-server-client-overlay-div {
    visibility: hidden !important;
}